<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:uap11="http://schemas.microsoft.com/appx/manifest/uap/windows10/11"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:printsupport="http://schemas.microsoft.com/appx/manifest/printsupport/windows10"
  xmlns:printsupport2="http://schemas.microsoft.com/appx/manifest/printsupport/windows10/2"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 uap11 desktop printsupport printsupport2 rescap">

  <Identity
    Name="PostNL10x15.VirtualPrinter"
    Publisher="CN=PostNL10x15 Development"
    Version="0.3.4.0" />

  <Properties>
    <DisplayName>PostNL 10x15 Virtual Printer v0.3.4</DisplayName>
    <PublisherDisplayName>PostNL 10x15</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Universal"
      MinVersion="10.0.26100.0"
      MaxVersionTested="10.0.26100.0" />
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.26100.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
    <Resource Language="nl-NL" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="PostNL10x15.VirtualEndpoint.exe"
      EntryPoint="PostNL10x15.VirtualEndpoint.App"
      uap10:SupportsMultipleInstances="true">
      <uap:VisualElements
        DisplayName="PostNL 10x15 v0.3.4"
        Description="Automatische PostNL-labelprinter voor 100 x 150 mm."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <printsupport:Extension
          Category="windows.printSupportSettingsUI"
          EntryPoint="PostNL10x15.VirtualEndpoint.App" />

        <printsupport:Extension
          Category="windows.printSupportExtension"
          EntryPoint="PostNL10x15.VirtualPrinter.PsaExtensionTask" />

        <printsupport2:Extension
          Category="windows.printSupportVirtualPrinterWorkflow"
          EntryPoint="PostNL10x15.VirtualPrinter.PsaVirtualPrinterTask">
          <printsupport2:PrintSupportVirtualPrinter
            DisplayName="ms-resource:PrinterName"
            PrinterUri="postnl10x15:printer-v11"
            PreferredInputFormat="application/oxps"
            PdcFile="Config\POSTNL10X15_PDC.xml">
            <printsupport2:SupportedFormats>
              <printsupport2:SupportedFormat
                Type="application/pdf"
                MaxVersion="1.7" />
            </printsupport2:SupportedFormats>
          </printsupport2:PrintSupportVirtualPrinter>
        </printsupport2:Extension>

        <desktop:Extension
          Category="windows.fullTrustProcess"
          Executable="PostNL10x15.Worker\PostNL10x15.exe">
          <desktop:FullTrustProcess>
            <desktop:ParameterGroup
              GroupId="ProcessInbox"
              Parameters="--process-inbox" />
          </desktop:FullTrustProcess>
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>PostNL10x15.Worker\WinRT.Host.dll</Path>
        <ActivatableClass
          ActivatableClassId="PostNL10x15.VirtualPrinter.PsaExtensionTask"
          ThreadingModel="both" />
        <ActivatableClass
          ActivatableClassId="PostNL10x15.VirtualPrinter.PsaVirtualPrinterTask"
          ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>
